[Unit]
Description=ds485 firmware
After=network.target

[Service]
Type=idle
WorkingDirectory=/root/ds485
ExecStart=/usr/bin/python /root/ds485/ds485.py
Restart=always
User=root
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
